In [242]:
import tabula
import pandas as pd

In [269]:
dfs = tabula.read_pdf("./data/test.pdf", pages='all',
                      columns=[46, 52, 56, 68, 73, 80, 86, 91, 98, 104, 110],
                      relative_columns=True,area=[19.5,10,85,62], relative_area=True, 
                      pandas_options={'names': ["name", "course_num", "sec_num", "num","avg_gpa", "A", "AB", "B", "BC", "C", "D", "F"]})

In [271]:
result = pd.DataFrame(columns=["name", "course_num", "sec_num", "num","avg_gpa", "A", "AB", "B", "BC", "C", "D", "F"])
for i in range(len(dfs)):
    result = pd.concat([result, dfs[i].loc[pd.to_numeric(dfs[i]['avg_gpa'], errors='coerce').notnull()].loc[pd.to_numeric(dfs[i]['course_num'], errors='coerce') < 700]], ignore_index=True)
result[:1000]

,name,course_num,sec_num,num,avg_gpa,A,AB,B,BC,C,D,F
0,Intro to Ag & Applied Econ,215,001,73,3.007,23.3,19.2,28.8,9.6,12.3,5.5,1.4
1,Environment&Global Economy,244,001,48,3.448,60.4,4.2,18.8,6.3,8.3,.,2.1
2,Career Development,267,001,30,3.900,86.7,6.7,6.7,.,.,.,.
3,The Internatl Ag Economy,319,001,45,3.211,17.8,35.6,26.7,11.1,8.9,.,.
4,Agricultural Systems Mgmt,320,001,31,3.081,25.8,19.4,22.6,9.7,22.6,.,.
...,...,...,...,...,...,...,...,...,...,...,...,...
995,Physiol of Human Performance,115,001,20,3.950,90.0,10.0,.,.,.,.,.
996,NaN,116,001,24,3.667,45.8,41.7,12.5,.,.,.,.
997,NaN,116,002,24,3.729,54.2,37.5,8.3,.,.,.,.
998,Introduction to Kinesiology,119,001,98,3.856,83.7,8.2,5.1,.,1.0,1.0,.
999,Foundations of Physical Educ,121,001,16,3.344,12.5,43.8,43.8,.,.,.,.